<template>
    <div class="chat-composer">
         <div class="chat-area">
            <textarea name="mychat" id="mychat" placeholder="Start typing you message..." v-model="messageText" ></textarea>
            <button id = "send" class = "btn btn-success pull-right" name = "send" @click="sendMessage">Send</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            messageText:''
        }
    },
    methods: {
        sendMessage() {
            this.$emit('messagesent', 
            { 
                details: this.messageText,
                user:{
                    name:  $('#currentuser').text() 
                }
            });
            
            this.messageText = ''
        }
    }
}
</script>

<style>

</style>
