<template>
    <div class = "panel panel-default">
        <div class = "panel-body">
            <p>{{ message.details }}</p>
            <small>{{ message.user.name }}</small>
     </div>
    </div> 
</template>

<script>
export default {
    props:['message']

}
</script>

<style>

</style>
