*
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
/*	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;*/
	color: #636b6f;
}

.imanila-color {
	color:#be1e2d;
}

.label-italic {
	font-style: italic;
}

.clickable-row {
	cursor: pointer;
}

a {
	color: #636b6f;
	text-decoration: none;
}

.huge {
    font-size: 23px;
}


/***********************
* Tabbed Panel Primary *
***********************/
.panel-primary {
	border-color:#636b6f;
}

.panel-primary>.panel-heading {
	color:#fff;
	background-color:#636b6f;
	border-color:#636b6f
}

.tabbed-panel.panel-primary .nav-tabs > li.active > a, .tabbed-panel.panel-primary .nav-tabs > li.active > a:hover, .tabbed-panel.panel-primary .nav-tabs > li.active > a:focus {
	color: #636b6f;
	background-color: #fff;
	border-color: #636b6f;
}

.tabbed-panel.panel-primary .nav-tabs > .open > a, .tabbed-panel.panel-primary .nav-tabs > .open > a:hover, .tabbed-panel.panel-primary .nav-tabs > .open > a:focus, .tabbed-panel.panel-primary .nav-tabs > li > a:hover, .tabbed-panel.panel-primary .nav-tabs > li > a:focus {
	color: #636b6f;
	background-color: #fff;
	border-color: transparent;
}
/****************
* Dropdown Menu *
****************/
.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #fff;
	border-color: #636b6f;
}

.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #636b6f;
}

.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover, .tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #f5f5f5;
}

/****************
* Navbar        *
****************/
.navbar-inverse {
	background-color: #be1e2d;
	border: none;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-top-links > li > a:hover, .navbar-top-links > li > a:focus, .navbar-top-links > .open > a, .navbar-top-links > .open > a:hover, .navbar-top-links > .open > a:focus {
	color: #636b6f;
	background-color: #f8f8f8;
}

.navbar-top-links > li > a {
	color: #fff;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #636b6f;
	background-color: #f8f8f8;
}

.navbar-inverse .navbar-toggle {
	border:none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #be1e2d;
	color: #636b6f;
	/*border:none;*/
}

/* for welcome page navbar */
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #636b6f;
	background-color: #f8f8f8;
}

.navbar-default .navbar-toggle {
	border:none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #be1e2d;
	color: #636b6f;
	/*border:none;*/
}

.btn-primary {
	color: #fff;
	background-color: #be1e2d;
	border-color: #be1e2d;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
	color: #000;
	background-color: #f8f8f8;
	border-color: #204d74;
}

.asterisk-marker {
	color: red;
}

.imanila-background {
	background-color:#be1e2d !important;
	color:#fff !important;
}

.client-background {
	background-color:#5cb85c !important;
	color:#fff !important;
}

.search-result {
	font-size: 12px;
}

.table {
	font-size: 12px;
}

.table > thead > tr > th {
	font-weight: bold;
}

.ticket-priority{
	border: 1px solid black;
	border-radius: 15px;
	margin-right: 5px;
	background-color: aqua;
}

.ticket-priority-high{
	background-color: #eb260c;	
}

.ticket-priority-medium{
	background-color: #f7de04;	
}

.ticket-priority-low{
	background-color: #0ceff7;	
}

.ticket-status{
	border: 1px solid black;
	border-radius: 15px;
	margin-right: 10px;	
}

.ticket-status-active{
		background-color: #2de200;	
}

.ticket-status-hold{
		background-color: #06dcf8;	
}

.ticket-status-cancelled{
		background-color: #abaeb1;	
}

.border-container{
	border: 1px solid gray;
	margin-right: 5px;
	padding: 5px;
	min-height: 100px;

}


.ticket-code{
	color: #000;
	font-size: .8em;
	font-weight: 600;
}

.chat-area > textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;

}

.panel-body #mainpanel{
	max-height: 650px;
	overflow-y: scroll;
}

.thread_discussion{
	background-color: rgb(238, 251, 252); 
}
.discussion-footer{
	
	color: #dfdfdf;
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}

.discussion-head{
	
	color: #dfdfdf;
    background-color: #929292!important;
    border-color: #dfdfdf;
}

.issue-thread-expand{
    background-color: #bdbdbd  !important;
}

.chat-logs-me{
   	float: none !important;
    text-align: -webkit-right;
}

.chat-logs-me > .col-lg-8{
   	float: none !important;
  
}
.chat-logs-others{

   	float: none !important;
    text-align: -webkit-left;
}
.chat-logs-others > .col-lg-8{

   	float: none !important;
  
}
.panel-discussion{

  padding:0!important;
  margin: 0!important;
  font-size:.7em;
  max-height: 20px!important;
  color: #636b6f!important;
  background-color: #b9dcfa!important;
}



/*************SWITCH FOR ALERT******************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}